# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# VSCode
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build
/dist/
/build/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Frontend
frontend/desktop/node_modules/
frontend/desktop/dist/

# Backend
backend/__pycache__/
backend/venv/
backend/.env
backend/*.sqlite3
backend/*.db
backend/*.log

# Storage
storage/

# Cache
cache/

# Logs
logs/
